@import "variables";

#profile {
  width: 100vw;
  height: 100%;
  background-color: $bg_color;
  z-index: 20;
  position: fixed;
  top: 0px;
  left: 0px;
  header {
    display: flex;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $bg_color;
    z-index: 10;
    button {
      margin: 0 5px;
      font-size: 1.5rem;
      color: $sub_color;
    }
  }
  ul {
    padding: 10px;
    li {
      line-height: 2.25rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
}

#setting {
  overflow-y: scroll;
  padding: 15px 20px;
  margin: 5px 0px;
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  z-index: 20;
  position: fixed;
  top: 60px;
  left: 0px;
  button {
    &:active {
      @include nuemo-inset($bg_color);
    }
    @include nuemo;
    border-radius: 20px;
    padding: 10px;
    width: calc(100vw / 3);
    justify-content: flex-end;
    color: $sub_color;
  }
  div {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 10px 0px;
    }
    a.profile {
      position: fixed;
      right: 10.5px;
      padding: 0 10px;
      font-size: 1.5rem;
      color: $sub_color;
      z-index: 30;
    }
  }
  
  .icon-setting {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    img {
      width: 60px;
      height: auto;
      margin: 10px auto;
    }
    form {
      width: 70%;
      input {
        width: 100%;
      }
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .password-setting {
    margin: 10px auto;
    form {
      width: 100%;
      input {
        width: 100%;
      }
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .gender-setting {
    margin: 10px auto;
    form {
      width: 100%;
      .g-s1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        select {
          margin: 5px 0px;
          width: 70%;
        }
      }
      .g-s2 {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

#inquire {
  overflow-y: scroll;
  padding: 30px 20px 0px;
  margin: 5px 0px;
  width: 100%;
  height: 100%;
  background-color: $bg_color;
  z-index: 20;
  position: fixed;
  top: 60px;
  left: 0px;
  .inquire-header {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 5px 0px;
    }
    a.profile {
      position: fixed;
      right: 10.5px;
      padding: 0 10px;
      font-size: 1.5rem;
      color: $sub_color;
      z-index: 30;
    }
  }
  .inquire-body {
    input, select, textarea {
       width: 100%;
     }
    height: 120%;
    .button-submit {
      display: flex;
      margin: auto;
      button {
        @include nuemo;
        border-radius: 20px;
        padding: 10px;
        width: calc(100vw / 3);
        color: $sub_color;
        margin: 20px auto;
        &:active {
          @include nuemo-inset($bg_color);
        }
      }
    }
  }
}

#logout {
  padding: 15px 20px;
  margin: 5px 0px;
  width: 100vw;
  height: 100vh;
  background-color: $bg_color;
  z-index: 20;
  position: fixed;
  top: 60px;
  left: 0px;
  .logout-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 5px 0px;
    }
    a.profile {
      position: fixed;
      right: 10.5px;
      padding: 0 10px;
      font-size: 1.5rem;
      color: $sub_color;
      z-index: 30;
    }
  }
  .logout-body {
    margin: 10px 0;
    p {
      margin-bottom: 10px;
    }
    button {
      @include nuemo;
      border-radius: 20px;
      margin: 5px;
      padding: 10px;
      
      width: calc(100vw / 3);
      color: $sub_color;
      &:active {
        @include nuemo-inset($bg_color);
      }
    }
    .button-cancel {
      color: $red;
    }
  }
}